@charset "utf-8";
/* CSS Document */

.kads-main {
  background-color: #FF0000;
  cursor: pointer;
  position: relative;
}

.kads-main img {
  border-radius: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.kads-main object {
	cursor:pointer;

}



.kads-main .kads-logo {
  height: 30px;
  position: absolute;
  width: 30px;
  background-size: 100% 100%;
}


#kads-stats {
  width: 100%;
}
#kads-stats table{}